<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ExportarLista.UI.Configuration.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="TiposArchivoGroup">
        <section name="TipoArchivo" type="ExportarLista.Entities.Configuracion.TipoArchivoSection, ExportarLista.Entities" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <unity configSource="Unity.config"/>
  <!--<unity configSource="C:\Proyectos TFS\ExportarLista\ExportarLista.UI\Unity.config" />-->
  <connectionStrings configSource="ConnectionStrings.config"/>
  <appSettings>
    <add key="mailServer" value="smtp.gmail.com"/>
    <add key="puerto" value="587"/>
    <add key="ssl" value="true"/>
    <add key="bussinesName" value="TOP"/>
    <add key="initialDirectory" value="C:\Users\jrcas\Desktop"/>
    <add key="outputDirectory" value="C:\Users\jrcas\Desktop"/>
    <add key="dataSeparator" value=";"/>
    <add key="IVA" value="21"/>
    <add key="profit" value="50"/>
  </appSettings>
  <TiposArchivoGroup>
    <TipoArchivo>
      <add Tipo="1" RutaOrigen="C:\Users\jrcasalis\Documents\Visual Studio 2015\Projects\CopiaPDF\Comp" RutaDestino="C:\Users\jrcasalis\Documents\Visual Studio 2015\Projects\CopiaPDF\Pruebas" EnviarMail="true" RemitenteMail="jrcasalis@gmail.com" UsuarioMail="jrcasalis@gmail.com" PasswordMail="P3ug30t408" DirectorioEspera="En espera" Clase="ExportarLista.UI.ProcesarCertificadosPDF" Metodo="ProcesarPDFs" Opcionales="OP,R760473A,Orden pago,\n,F0413,0;RetIIIBB,RD760451A,Nº de pago,\n,F0413,$B;RetGanancias,RD760453A,Orden de Pago,\n,F0413,$G;ReIVA,RD7604522A,Número,\n,F0414,$I"/>
      <add Tipo="2" RutaOrigen="X:\" RutaDestino="c:\Bolsa" EnviarMail="True"/>
    </TipoArchivo>
  </TiposArchivoGroup>
</configuration>
