<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <typeAliases>
    <typeAlias alias="HierarchicalLifetimeManager"
          type="Microsoft.Practices.Unity.HierarchicalLifetimeManager, 
        Microsoft.Practices.Unity" />
  </typeAliases>
  
  <container>
    <!--NavBar-->
    <!--<register type="ExportarLista.Services.INavbarRepository, ExportarLista.Services"
              mapTo="ExportarLista.Data.Repositories.NavbarRepository, ExportarLista.Data">
    </register>
    
    <register type="ExportarLista.Business.Interfaces.INavbarBusiness, ExportarLista.Business"
              mapTo="ExportarLista.Business.NavbarBusiness, ExportarLista.Business">
    </register>-->

    <!--Configuracion-->
    <register type="ExportarLista.Business.Interfaces.IConfiguracionBusiness, ExportarLista.Business"
              mapTo="ExportarLista.Business.ConfiguracionBusiness, ExportarLista.Business">
    </register>

    <!--PDF-->
    <register type="ExportarLista.Business.Interfaces.IPdfBusiness, ExportarLista.Business"
              mapTo="ExportarLista.Business.PdfBusiness, ExportarLista.Business">
    </register>
    
    <!--F0413-->
    <register type="ExportarLista.Services.IF0413Repository, ExportarLista.Services"
              mapTo="ExportarLista.Data.Repositories.F0413Repository, ExportarLista.Data">
    </register>

    <register type="ExportarLista.Business.Interfaces.IF0413Business, ExportarLista.Business"
              mapTo="ExportarLista.Business.F0413Business, ExportarLista.Business">
    </register>

    <!--F0414-->
    <register type="ExportarLista.Services.IF0414Repository, ExportarLista.Services"
              mapTo="ExportarLista.Data.Repositories.F0414Repository, ExportarLista.Data">
    </register>

    <register type="ExportarLista.Business.Interfaces.IF0414Business, ExportarLista.Business"
              mapTo="ExportarLista.Business.F0414Business, ExportarLista.Business">
    </register>

    <!--MAIL-->
    <register type="ExportarLista.Business.Interfaces.IMailBusiness, ExportarLista.Business"
              mapTo="ExportarLista.Business.MailBusiness, ExportarLista.Business">
    </register>
    
    <!--ExportarArchivos-->
    <register type="ExportarLista.Business.Interfaces.IExportarArchivosBusiness, ExportarLista.Business"
              mapTo="ExportarLista.Business.ExportarArchivosBusiness, ExportarLista.Business">
    </register>
  


  </container>
</unity>